html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
  list-style: none;
  font-style: none;
  text-decoration: none;
}
