:root {
  --cor-primaria: rgb(16, 20, 22);
}
.home-component {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 0;
  background-color: var(--cor-primaria);
}
.home-component::before {
  position: absolute;
  top: 0px;
  content: '';
  width: 100%;
  height: 100vh;
  background-image: url('../img/istockphoto-1219064440-1024x1024.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: 20%;
  opacity: 0.1;
  z-index: -1;
}
.home-component .error-component {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgb(255, 255, 255);
}
.home-component .error-component  .error-content {
  padding: 5rem;
  background-color: white;
  border-radius: 10px;
}
.home-component .error-component  .error-content h1 {
  display: flex;
  align-items: center;
}
.home-component .error-component  .error-content h1 .icon-alert {
  margin-right: 1rem;
}
.home-component .error-component#display-error-false {
  display: none;
}
.home-component .error-component#display-error-true {
  display: flex;
  justify-content: center;
  align-items: center;
}
