:root {
  --cinza-claro: rgb(221, 221, 221);
  --cinza-escuro: rgb(148, 148, 148);
  --cor-primaria: rgb(16, 20, 22);
}
.error {
  color: red;
}
.login-elemento {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--cor-primaria);
}
.login-elemento::after {
  position: absolute;
  top:0px;
  width: 100%;
  height: 100vh;
  content: '';
  background-image: url('../img/istockphoto-1219064440-1024x1024.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: 20%;
  opacity: 0.1;
  z-index: 0;

}
.login-elemento .login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 300px;
  height: auto;
  padding: 5rem;
  border-radius: 10px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.315);
  background-color: white;
  z-index: 1;
}
.login-elemento .login-content .header-login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.login-elemento .login-content .header-login-content h1 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: var(--azul-claro);
}
.login-elemento .login-content .form  {
  width: 100%;
  margin-top: 2.5rem;
}
.login-elemento .login-content .form div:nth-child(1) {
  margin-top: 0rem;
}
.login-elemento .login-content .form div {
  margin-top: 1.0rem;
  width: 100%;
}
.login-elemento .login-content .form div div {
  display: flex;
  align-items: center;
  border: 1px solid var(--cinza-claro);
  border-radius: 5px;
  padding: 0.5rem 1rem 0.5rem;
}
.login-elemento .login-content .form div div .input-content {
  width: 100%;
  margin: 0;
  margin-left: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
  transition: all .2s ease-in-out;
  background-color: transparent !important;
  transform: none;
}
.login-elemento .login-content .checkbox-content {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 1rem;
}
.login-elemento .login-content .checkbox-content label {
  margin-left: 1rem;
  font-size: 1.1rem;
  font-style: italic;
}
.login-elemento .login-content .checkbox-content input {
  margin: 0;
}
.login-elemento .login-content .button-contnet {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}
.login-elemento .login-content .button-contnet button {
  width: 100%;
  padding: .8rem;
  border: 2px solid var(--cor-primaria);
  font-size: 1.3rem;
  color: black;
  border-radius: 5px;
  background-color: transparent;
  transition: all .1s ease-in-out;
}
.login-elemento .login-content .button-contnet button:hover {
  color:white;
  background-color: var(--cor-primaria);
}
.login-elemento .login-content .button-contnet button:active {
  transform: scale(.95);
}
